# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env/

# IDEs and editors
.vscode/
.idea/

# Miscellaneous
*.sqlite3
*.pyc
*.DS_Store